.create-info{
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 13px;
    padding: 10px;
    white-space: nowrap;
    background-color: #9cccff;
    width: max-content; /* ใช้ขนาดของข้อความเป็นขนาดของกล่อง */
    height: 40px;
    margin: 0 auto;
    margin-top: 4pc;
    border: 1px solid #000;
}

.create-info h3{
    text-align: center;
    margin-top: 6px;
}

.info-pormo-text{
    text-align: center;
    margin-top: 10px;
}


.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* จัดให้เนื้อหาอยู่กึ่งกลางทั้งแนวตั้งและแนวนอน */
    background-color: #ffffff;
    border-radius: 30px;
    padding: 40px 24pc;
    margin: auto 10pc; /* ทำให้ตรงกลางทั้งแนวตั้งและแนวนอน */
    margin-bottom: 30px;
    border: 1px solid #000;
    margin-top: 8pc;
}

.title-text h2{
    border-radius: 13px;
    padding: 10px;
    background-color: #9cccff;
    width: max-content; /* ใช้ขนาดของข้อความเป็นขนาดของกล่อง */
    text-align: center;
    margin-top: -70px;
    border: 1px solid #000;
}

form{
    justify-content: space-between;
    margin-top: 20px;
    width: 250%;
}

.input-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;

}

input{
    width: 90%;
    height: 60px;
    padding:  10px;
    background-color: #bddbfc;
    border: 1px solid #000;
    font-size: 16px;
    border-radius: 25px;
    margin-top: 10px;
    color: #6e6e6e;
    text-align: start;   
}

input[type="file"] {
    background-color: #bddbfc;
    padding: 26px 10px; 
    height: auto;
    color: #6e6e6e;
    text-align: start; 
}

input:focus{
    border: 2px solid #222;
}

label{
    cursor: text;
    margin-bottom: 5px;
}

.type-box {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.type-box h3 {
    color: #333;
    font-size: 1rem;
    margin-bottom: 8px;
    margin-right: 20px; /* เพิ่มระยะห่างระหว่างหัวข้อและ radio buttons */
    margin-left: 30px;
}

.type {
    display: flex;
    column-gap: 20px; /* ลดระยะห่างระหว่างสอง radio buttons */
    align-items: center; /* จัดตำแหน่งให้ radio buttons และข้อความอยู่ตรงกลางแนวตั้ง */
}

.type input[type="radio"] {
    width: 16px; /* กำหนดขนาดของวงกลม */
    height: 16px; /* กำหนดขนาดของวงกลม */
    accent-color: rgb(100, 100, 100); /* สีของ radio button เมื่อถูกเลือก */
    margin-right: 3px; /* ลดระยะห่างระหว่างวงกลมกับข้อความ */
}

.type label {
    color: #707070;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}


.button-container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.button {
    align-items: center;
    background-color: #9cccff;
    border: none;
    border-radius: 13px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    margin: auto; /* ทำให้ปุ่มอยู่ตรงกลางแนวนอน */
    display: block; /* ทำให้ปุ่มเป็น block element เพื่อให้มีความกว้างสม่ำเสมอ */
    width: 100%; /* กำหนดความกว้างของปุ่มให้พอดีกับข้อความภายใน */
}

.button:hover{
    background-color: #9cccff;
    color: #000;
}

.row1,.row2{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 20px;
}

.row1 .input-group, .row2 .input-group {
    flex-basis: calc(50% - 10px); /* ปรับขนาดของช่องใส่ข้อมูลในแต่ละ row */
    margin: 10px;
}

